
<?xml version="1.0" encoding="UTF-8"?>
<config>
    <train>0.6</train>
    <eval>0.2</eval>
    <test>0.2</test>
    <samplingRate>10</samplingRate>
    <trainData>./part1/imgs/</trainData>
    <trainData>./part2/imgs</trainData>
    <trainLabel>./part1/part1_annotation.json</trainLabel>
    <trainLabel>./part2/part2_annotation.json</trainLabel>
<?xml version="1.0" encoding="UTF-8"?>
<config>
    <train>0.6</train>
    <eval>0.2</eval>
    <test>0.2</test>
    <samplingRate>10</samplingRate>
</config>